@model WebApplication1.Data.Models.Project

@{
    ViewData["Title"] = "Project Workflow";
    var stage = Model.ProjectStage;
}

<h2>Project: @Model.Name</h2>

<partial name="_Stage1_TechTask" model = "Model" />

@* <!-- Этап 2: Сценарии --> *@
@* @if (stage >= ProjectStage.Script) *@
@* { *@
@*     <partial name="_Stage2_Scripts" for="Video" /> *@
@* } *@
@* *@
@* <!-- Этап 3: Съемка --> *@
@* @if (stage >= ProjectStage.Filming) *@
@* { *@
@*     <partial name="_Stage3_Shooting" model="Model" /> *@
@* } *@
@* *@
@* <!-- Этап 4: Монтаж --> *@
@* @if (stage >= ProjectStage.VideoEditing) *@
@* { *@
@*     <partial name="_Stage4_Editing" model="Model" /> *@
@* } *@

<!-- Этап 5: Отчет -->
@if (stage >= ProjectStage.Complete)
{
    <partial name="_Stage5_Report" model="Model" />
}